[submodule "Z0-Resources/cookbook-business"]
	path = Z0-Resources/cookbook-business
	url = https://github.com/chancetop-com/Cookbook-Business-KB.git
	branch = main
[submodule "Z01-Resource/CB-business"]
	pluginid = 90498974-e825-4f2e-9c8f-6d3b509b7840
	path = Z01-Resource/CB-business
	url = https://github.com/chancetop-com/Cookbook-Business-KB.git
	branch = main
[submodule "Z01-Resource/CB-bigquery"]
	pluginid = ee7651f8-4157-480c-b925-d6ae5585f375
	path = Z01-Resource/CB-bigquery
	url = https://github.com/chancetop-com/Cookbook-Bigquery-KB.git
	branch = bonnie
[submodule "Z01-Resource/CB-full-feature"]
	pluginid = 726ed6f2-78f7-4112-ba0c-9304b966c946
	path = Z01-Resource/CB-full-feature
	url = https://github.com/chancetop-com/Cookbook-Full-Feature.git
	branch = main
